$primary: purple;
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
$font-family-monospace: "Fira Code", monospace;
@supports (font-variation-settings: normal) {
  $font-family-monospace: "Fira Code VF", monospace;
}

@import "~bootstrap/scss/bootstrap";
